#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: @brand-secondary;
  #logo {
    background-color: @brand-primary;
    color: @white;
    text-align: center;
    height:150px;
    padding: 10px;
    h1{
      font-size: 72px;
      font-weight: 800;
      line-height: 1;
    }

  }
  .navigation{
    li{
      color:@white;
      padding:50px;
      border-bottom:1px solid #707070;
    }
  }
}
.header{
  background-color: @lightgrey;
  margin-bottom: @baseMargin * 5;
}