.main{
  //padding-right: 40px;
  padding-left: 100px;
}
.header{
 // background-color: @lightgrey;
  padding:@basePadding * 2;
  h3{
    margin:0;
    color:@brand-secondary;
  }
}
.content-table__head{
  background-color:#d5d5d5;

    th{
      color: @brand-primary;
      text-transform: uppercase;
      text-align: center;

    }

  p{
    color: @brand-primary;
    text-transform: uppercase;

  }
}

.content-table__content{
  tr{
    background-color: @lightgrey;
    text-align: center;
  }
  tr:nth-child(odd){
    background-color: @lightergrey;
  }
}
#search-bar{
  background-color: @lightergrey;
  padding:@basePadding * 3;
  text-align: center;
  margin-bottom: @baseMargin * 5;
}
.filter-bar{
  margin-bottom: @baseMargin * 5;
}
#login__wrapper{
  width:500px;
margin: 100px auto 0 auto;
}